body {
    align-items: center;
    background: var(--bgB);
}

:root {
    --base: #5be92f;
    --spacing: 30px;
    --blur: 0px;
    --fontsize: 20px;
    --bgB: black;
}
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.h2 {
    color: var(--base);
    font-size: var(--fontsize);
}
